/* .container {
    border: 1px solid red;
}

.box {
    border: 1px solid blue;
} */

/* div {
    border: 1px solid blue;
}

span {
    border: 1px solid red;
}

main {
    border: 1px solid green;
} */