/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* FONTS */
html, body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6
}

/* SET ROOT FONT SIZE */
html {
    font-size: clamp(14px, 1.5vw, 18px);
    scroll-behavior: smooth;
}

/* FONT SIZING */
h1 {
    font-size: 3.815rem;
    line-height: 1.2;
    margin-bottom: 0;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.8rem;
}

smaller {
    font-size: 0.64rem;
}