header {
    font-size: clamp(14px, 1.5vw, 18px);
    scroll-behavior: smooth;
}

/* 登入介面背景  */
.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100%;
    margin: 0;
}

#temp {
    height: 86vh;
}

html {
    font-size: 14px;
}
/* 登入介面 */
.form-container {

    padding: 35px;
    padding-top: 0;
    width: 35%;
    max-width: 400px;
    min-width: 300px; /* 最小幅を設定 */
    background: rgba(25, 25, 28, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(162, 0, 0, 0.275);
}

#register-email {
    margin-top: 0;
}

.form-container h2 {
    font-size: 1.8em;
    color: var(--secondary-color);
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.form-container p {
    margin: 2px;
}

.form-container button {
    margin-bottom: 15px;
}

.register-wrapper {
    text-align: center;
}

.input-container {
    position: relative;
}

.password-wrapper {
    position: relative;
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1em;
    transition: all 0.3s ease;
    height: 40px;
    min-width: 280px;
}

input:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

#login-form,
#register-form {
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    color: var(--secondary-color);
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.password-form {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.password-form input {
    margin: 0;
}

#login-form input {
    margin-top: 0px;
    margin-bottom: 10px;
}

.login,
.register {
    text-align: center;
}

.register-link,
.login-link {
    font-weight: bold;
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.button,
.google-signin-btn,
#guest-login,
#github-signin {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1em;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg#guest-login {
    margin-top: 10px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.button {
    background: linear-gradient(135deg, #f73030, #fd0202);
    color: white;
    border: none;
    font-weight: 600;
    /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.3); */
}
.button:hover {
    transform: translateY(2px);
    background: linear-gradient(135deg, #751a1a, #690202);
}
.google-signin-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.google-signin-btn img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.google-signin-btn span {
    color: black;
    font-weight: bold;
}

#guest-login {
    background: linear-gradient(135deg, #424242, #212121);
    color: white;
    border: none;
    font-weight: 600;
}

#guest-login:hover {
    transform: translateY(2px);
}

#github-signin {
    background-color: #333;
    color: white;
    border: none;
    font-weight: 600;
}

#github-signin:hover {
    transform: translateY(2px);
    background-color: #222;
}

.google-signin-btn img,
#guest-login iconify-icon,
#github-signin iconify-icon {
    position: absolute;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    left: 15%;
}

.error {
    color: #ff4d4d;
    text-align: center;
}

.hidden {
    display: none;
}

#user-entries {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.entry {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.social-login {
    margin-top: 0;
    text-align: center;
}

.social-login button {
    margin-bottom: 0px;
}

.divider {
    position: relative;
    text-align: center;
    margin: 15px 0;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: 1;
}

.divider span {
    padding: 0 10px;
    position: relative;
    z-index: 2;
    color: white;
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}
.email {
    align-items: center;
    padding: 10px;
    color: white;
}

/* @media (min-width: 768px) {
    .form-container {
        background-color: rgba(25, 25, 28, 0.7);
        background: rgba(25, 25, 28, 0.7);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        padding: 2rem;
        padding-top: 0;
        border: 1px solid rgba(255, 255, 255, 0.08);
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.226), 
            inset 0 0 15px rgba(255, 255, 255, 0.209), 0 10px 20px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        max-width: 1080px;
    }
} */
