/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font sizing */
.logo {
    font-size: 1.563rem;
}

html {
    font-size: clamp(12px, 1.5vw, 18px)
}

h1 {
    font-size: 3.815rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.8rem;
}

smaller {
    font-size: 0.64rem;
}

/* Font weight */
.weight-1 {
    font-weight: 100;
}

.weight-2 {
    font-weight: 200;
}

.weight-3 {
    font-weight: 300;
}

.weight-4 {
    font-weight: 400;
}

.weight-5 {
    font-weight: 500;
}

.weight-6 {
    font-weight: 600;
}

.weight-7 {
    font-weight: 700;
}

.weight-8 {
    font-weight: 800;
}

/* Layout */
/* Box */
.box {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* Responsive container*/
.container {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}

@media (max-width: 1920) {
    .container {
        max-width: 1536px;
    }
}

@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}

/* Font decorations */
.bold {
    font-weight: bold;
}

.glow {
    text-shadow:
        0 0 5px #fff,
        /* Inner glow */
        0 0 10px #fff,
        /* Medium glow */
        0 0 20px #fff,
        /* Outer glow in pink */
        0 0 30px #ffff,
        0 0 40px #fff,
        0 0 50px #fff;
}

/* Colours */
.c1-bg {
    background-color: white;
}

.c1-txt {
    color: white;
}

.c2-bg {
    background-color: black;
}

.c2-txt {
    color: black;
}

.acc-bg {
    background-color: #9b9b9b;
}

.acc-txt {
    color: #9b9b9b;
}

/* Sizing */
.max-width {
    width: 100%;
}

/* Parameters */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-txt {
    text-align: center;
}

.left {
    display: flex;
    justify-content: left;
}

.left-txt {
    text-align: left;
}

/* Hover effects */
.hover-scale {
    transition: transform 0.4s ease, box-shadow 0.4s ease
}

.hover-scale:hover {
    transform: scale(1.2);
}

/* Styling */
html, body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6
}

header {
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 0.75rem;
}