/* FOOTER */
footer {
    height: var(--header-height);
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background: rgba(20, 20, 20, 0.95);
    border-top: 1px solid rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.612), 0 0 20px rgba(255, 0, 0, 0.448);
}