.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(241, 238, 238);
    padding: 4em;
    justify-items: center;
    align-content: center;
}
.hero-left {
    margin: 2em;
    padding: 2em;
    max-width: 65ch;
    /* height: var(--fullpage);
    margin: 0 2em;
    padding:2em; */
    /* max-width: 485px; */
}

.hero-right {
    margin: 2em;
    padding: 2em;
    /* height: 100%;
    margin: 0 2em;
    padding:2em; */
    /* max-width: 485px; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    color: white;
}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    width: 130px; 
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}

.dropdown-content a {
    color: black; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 50px; 
    box-sizing: border-box; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);  
}

.dropdown-content a:last-child {
    border-bottom: none; 
}

.dropdown-content a:hover {
    color: rgb(50, 50, 179);
}

.dropdown:hover {
    text-decoration: underline;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block; 
}
