.order {
    
    padding: 10px;
    margin-bottom: 10px;
}

.order-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.order-items {
    display: grid;
  
    gap: 10px;
    flex-direction: column;
}

.order-items a {
    color: blue;
    text-decoration: none;
}

.order-items a:hover {
    color: darkblue;
}

.shopping-history {
    max-height: 400px;
    overflow-y: auto;
}

.shopping-history::-webkit-scrollbar {
    width: 12px;
}

.shopping-history::-webkit-scrollbar-track {
    background: #38535c0f;
}

.shopping-history::-webkit-scrollbar-thumb {
    background: #ffffff8b;
    border-radius: 10px;
    
}

.shopping-history::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.shopping-history h2,
.reviews h2 {
    position: sticky;
    top: 0;
    background-color: rgb(26, 26, 28);
    z-index: 1;
    padding: 20px 0;
    font-size: 1.8em;
    color: var(--secondary-color);
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.review-item {
    margin-bottom: 20px; /* Add space between reviews */
}

.reviews {
    max-height: 400px;
    overflow-y: auto;
}

.reviews::-webkit-scrollbar {
    width: 12px;
}

.reviews::-webkit-scrollbar-track {
    background: #38535c0f;
}

.reviews::-webkit-scrollbar-thumb {
    background: #ffffff8b;
    border-radius: 10px;
}

.reviews::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    margin-top: 20px; /* Set minimum distance from header */
    padding: 20px; /* Add padding for better spacing */
    overflow-y: auto; /* Enable scrolling */
    max-height: calc(100vh - var(--header-height) - 40px); /* Adjust max height to fit within viewport */
}
