.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    max-width: 320px;
    padding: 20px 3em;
    margin: 10px auto;
    size: fit-content;
    max-width: 600px;
    box-sizing: border-box;
    color: var(--secondary-color);
    padding-bottom: 0;
    margin-bottom: 0;
}

.password-reset-container h2 {
    font-size: 1.8em;
    color: var(--secondary-color);
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 1));
}

.password-reset-container input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    margin-top: 12px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1em;
    transition: all 0.3s ease;
    height: 40px;
    min-width: 280px;
}
