.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    padding: 4em;
    justify-items: center;
    align-content: center;
}
.hero-left {
    margin: 2em;
    padding: 2em;
    max-width: 65ch;
    /* height: var(--fullpage);
    margin: 0 2em;
    padding:2em; */
    /* max-width: 485px; */
}

.hero-right {
    margin: 2em;
    padding: 2em;
    /* height: 100%;
    margin: 0 2em;
    padding:2em; */
    /* max-width: 485px; */
}