:root {
    /* COLOURS */
    --primary-color: #1D3557;
    --secondary-color: #FCFBFF;
    --accent-1: #E63946;
    --accent-2: #E25D67;

    /* HEADER */
    --header-height: 5vh;
    
    /* FULLPAGE HEIGHT */
    --fullpage: calc(100vh - var(--header-height))
}